1. You must have python installed on your computer first, and it is better to have version 3.6 or higher

2. libraries and packages:
    pip install django
    pip install djangorestframework
    pip install django-crispy-forms
    pip install django-phone-field
    pip install Pillow
    pip install cryptography
    pip install urllib3

3. to run the program:
go to folder college_event_website
run command: python manage.py runserver