{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add title  -->
    <title>Home</title>

    <!-- vendor css  -->
    <link href="{% static 'Home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Home/global.css' %}">
</head>
<body class="d-flex align-items-center align-content-center align-self-center">

<!-- homepage base -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="font-weight-bold float-left text-white">
                This is the homepage
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="font-weight-bold float-left text-white">
                Go to register 
                <a href="../../Users/register" class="text-white">Register</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="font-weight-bold float-left text-white">
                Go to login 
                <a href="../../Users/login" class="text-white">Login</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="font-weight-bold float-left text-white">
                Go to make an event 
                <a href="../../Events/setup" class="text-white">Make an event</a>
            </div>
        </div>
    </div>
</div>

<!-- JS -->
<!-- vendor JS -->
<script src="{% static 'Home/vendor/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'Home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>