{% load static %}
{% load crispy_forms_tags %}

{% load mapbox_location_field_tags %} 
{% location_field_includes %}
{% include_jquery %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add title  -->
    <title>Create University</title>

    <!-- vendor css  -->
    <link href="{% static 'Home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Events/main.css' %}">
</head>

{% if user.is_authenticated %}
    <body class="bg-gray1">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Events Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- main links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarEventDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Events
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Events/">View Events</a>
                        <a class="dropdown-item" href="/Events/create">Create Event</a>
                        {% if user.is_super_admin == True %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Events/approve">Approve Events</a>
                        {% endif %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarRSODropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RSOs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/RSO/">View RSOs</a>
                        <a class="dropdown-item active" href="/RSO/create">Create RSO<span class="sr-only">(current)</span></a>
                    </div>
                </li>

                {% if user.is_super_admin == True %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarRSODropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Universities
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Universities/">View Universities</a>
                            <a class="dropdown-item" href="/Universities/create">Create University</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/Universities/">Universities</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/Users/profile">Profile</a>
                </li>
            </ul>
        </div>
        <!-- logout link -->
        <a class="nav-link text-white" href="../../Users/logout">Logout</a>
    </nav>
    <!-- /.navbar -->

        <div class="d-flex align-items-center align-content-center align-self-center "> 
            <div class="d-flex container" >
                <div class="text-center mt-5 mb-5 w-100">
                    <!-- outer background -->
                    <div class="card card0 border-0 d-flex align-items-center align-content-center align-self-center w-100">
                        <!-- create rso title -->
                        <div class="row w-100 gradient-orange rounded-top">
                            <div class="col-md-12">
                                <h2 class="font-weight-bold text-blk text-lg">Create RSO</h2>
                            </div>                             
                        </div>
                        <!-- create rso form card-->
                        <div class="row card card0 border-0 shadow-thick bg-black d-flex align-items-center align-content-center align-self-center w-100 rounded-bottom">
                            <div class="row d-flex align-items-center align-content-center align-self-center m-4 w-100">
                                <!-- create rso form -->
                                <form method="POST" class="w-100 m-2">
                                    {% csrf_token %}
                                    <!-- RSO details section text -->
                                    <div class="row mb-3">                                
                                        <div class="col-md-12">
                                            <div class="d-flex w-100 justify-content-center">
                                                <div class="text-white font-weight-bold text-md text-left ">
                                                    RSO details
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- RSO name  -->
                                    <div class="row justify-content-center">
                                        <div class="col-md-12 justify-content-center">
                                            <div class="d-flex w-100 justify-content-center">
                                                <div class="w-75">
                                                    <label class="sr-only" for="rso_name">RSO Name</label>
                                                    {{ form.name|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- rso description -->
                                    <div class="row justify-content-center">
                                        <div class="col-md-12 justify-content-center">
                                            <div class="d-flex w-100 justify-content-center">
                                                <div class="w-75">
                                                    <label class="sr-only" for="rso_description">RSO Description</label>
                                                    {{ form.description|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- section separator -->
                                    <hr />

                                    <!-- university section text -->
                                    <div class="row mb-3">                                
                                        <div class="col-md-12">
                                            <div class="d-flex w-100 justify-content-center">
                                                <div class="text-white font-weight-bold text-md text-left ">
                                                    Set University
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- rso uni -->
                                    <div class="row justify-content-center">
                                        <div class="col-md-12 justify-content-center">
                                            <div class="row justify-items-end">
                                                <div class="col-md-12">
                                                    <div class="">
                                                        <label class="sr-only" for="rso_university">Home University</label>
                                                        university input here
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- section separator -->
                                    <hr />

                                    <!-- emails section text -->
                                    <div class="row mb-3">                                
                                        <div class="col-md-12">
                                            <div class="d-flex w-100 justify-content-center">
                                                <div class="text-white font-weight-bold text-md text-left ">
                                                    Student Emails
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- rso admin email  -->
                                    <div class="row justify-content-center">
                                        <div class="col-md-12 justify-content-center">
                                            <div class="d-flex w-100 justify-content-center">
                                                <div class="w-75">
                                                    <label class="sr-only" for="rso_admin_email">Founder email</label>
                                                    {{ form.admin_email|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- required 4 other emails -->
                                    <div class="row justify-content-center">
                                        <div class="col-md-12 justify-content-center">
                                            <div class="d-flex w-100 justify-content-center">
                                                <div class="w-75">
                                                    <label class="sr-only" for="rso_email_1">Member email</label>
                                                    <div id="div_id_admin_email" class="form-group">
                                                        <div class="">
                                                            <input type="text" placeholder="Member Email*" class="text-center text-white textinput textInput form-control" id="rso_email_1" name="rso_email_1" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 justify-content-center">
                                            <div class="d-flex w-100 justify-content-center">
                                                <div class="w-75">
                                                    <label class="sr-only" for="rso_email_2">Member email</label>
                                                    <div id="div_id_admin_email" class="form-group">
                                                        <div class="">
                                                            <input type="text" placeholder="Member Email*" class="text-center text-white textinput textInput form-control" id="rso_email_2" name="rso_email_2" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 justify-content-center">
                                            <div class="d-flex w-100 justify-content-center">
                                                <div class="w-75">
                                                    <label class="sr-only" for="rso_email_3">Member email</label>
                                                    <div id="div_id_admin_email" class="form-group">
                                                        <div class="">
                                                            <input type="text" placeholder="Member Email*" class="text-center text-white textinput textInput form-control" id="rso_email_3" name="rso_email_3" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 justify-content-center">
                                            <div class="d-flex w-100 justify-content-center">
                                                <div class="w-75">
                                                    <label class="sr-only" for="rso_email_4">Member email</label>
                                                    <div id="div_id_admin_email" class="form-group">
                                                        <div class="">
                                                            <input type="text" placeholder="Member Email*" class="text-center text-white textinput textInput form-control" id="rso_email_4" name="rso_email_4" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 justify-content-center">
                                            <div class="d-flex w-100 justify-content-center">
                                                <div class="w-75">
                                                    <label class="sr-only" for="rso_email_5">Member email</label>
                                                    <div id="div_id_admin_email" class="form-group">
                                                        <div class="">
                                                            <input type="text" placeholder="Member Email*" class="text-center text-white textinput textInput form-control" id="rso_email_5" name="rso_email_5" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- all other emails -->
                                    <!-- Add emails -->
                                    <div class="row justify-content-center">
                                        <div class="col-md-12 justify-content-center">
                                            <div class="row justify-items-center">
                                                <div class="col-md-12">
                                                    <!-- add email button -->
                                                    <button class="add_email" type="button" id="add_email">Add Email</button>
                                                    <!-- add email inputs -->
                                                    <div id="new_email" class="ml-5 w-100 row justify-items-center"></div>
                                                    <!-- number of emails -->
                                                    <input value="5" id="number_emails" name="number_emails" type="hidden">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <!-- submit button -->
                                    <button class="btn btn-white float-right mt-3 mr-2" type="submit" name="create-rso-btn" value = "create-rso">Create</button>
                                </form>
                            </div>
                            <!-- /.create rso form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% else %}
    <meta http-equiv="refresh" content="0; URL=../../Users/login" />
{% endif %}


<!-- JS -->
<!-- vendor JS -->
<script src="{% static 'Home/vendor/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'Home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- custom JS -->
<script src="{% static 'RSO/rso.js' %}"></script>

</body>
</html>