<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add title  -->
    <title>College Event Website</title>

    <!-- vendor css  -->
    <link href="../../college_event_website/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- custom css -->
    <link href="../../college_event_website/css/global.css" rel="stylesheet">
</head>

<body>
<!-- Navigation Bar (code snippet from https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog/snippets) -->
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top">  <!-- bg-steel is pretty nice too -->
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'home' %}">College Events Website</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <div class="dropdown">
                        <a class="nav-item nav-link dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-pressed="true" aria-haspopup="true" aria-expanded="false">
                            Events
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'events-home'%}">Events List</a>
                            <a class="dropdown-item" href="{% url 'event-create'%}">Create an Event</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <a class="nav-item nav-link dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-pressed="true" aria-haspopup="true" aria-expanded="false">
                            Registered Student Organization
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'rso-home' %}">Registered Student Organizations List</a>
                            <a class="dropdown-item" href="{% url 'rso-create'%}">Create an Rso</a>
                        </div>
                    </div>
                </div>


                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <div class="dropdown">
                        <a class="nav-item nav-link dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-pressed="true" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'profile'%}">My Profile</a>
                            <a class="dropdown-item" href="{% url 'universities'%}">My Universities</a>
                        </div>
                    </div>
                    <a class="nav-item nav-link" href="{% url 'logout' %}#">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}#">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- Sidebar (More helpful snippets from https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog/snippets) -->
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Quick Links</h3>
                <p class='text-muted'>Here are some quick links that you may find useful!
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="{% url 'event-create' %}">Create an event</a></li>
                    <li class="list-group-item list-group-item-light"><a href="{% url 'universities' %}">Temp Universities</a></li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>

<!-- <h1>Hello, world!</h1> -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>