{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add title  -->
    <title>Register</title>

    <!-- vendor css  -->
    <!-- <link href="../../college_event_website/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="../../Users/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    

    <!-- custom css -->
    <!-- <link href="../../college_event_website/css/global.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'Home/global.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'Home/global.css' %}">
</head>

<body class="d-flex align-items-center align-content-center align-self-center">
<div class="d-flex container" >
    <div class="text-center mt-5 mb-5">

        <div class="card card0 border-0 shadow-thick gradient-orange d-flex align-items-center align-content-center align-self-center">

            <div class="row d-flex align-items-center align-content-center align-self-center">
                <!-- register welcome area -->
                <div class="col-lg-5">
                    <div class="card card1 border-0 register-intro h-100 justify-content-center pt-5 pb-5">
                        <div class="row m-3">
                            <div class="col-md-12"><h2>Welcome</h2></div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12 px-5">
                                At College Events, you will have the opportunity to view and join events around the country.
                                Univeristies, RSOs, and public events are all supported.
                                Join to get started!
                            </div>
                        </div>
                        <div class="row align-self-center mb-4">
                            <div class="col-md-12 align-self-center">
                                <!-- navigation -->
                                <div class="card card2 bg-transparent border-0 w-100 align-self-center">
                                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="student-tab" data-toggle="tab" href="#student-register" role="tab" aria-controls="student-register" aria-selected="true">Student</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="faculty-tab" data-toggle="tab" href="#faculty-register" role="tab" aria-controls="faculty-register" aria-selected="false">Faculty</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.navigation -->
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.register welcome area -->
                <!-- register page -->
                <div class="col-lg-6">
                    <div class="card card2 font-weight-bold login-forms bg-transparent border-0 px-4 py-1 h-100">


                        <div class="tab-content" id="myTabContent">
                            <!-- student register -->
                            <div class="tab-pane fade show active" id="student-register" role="tabpanel" aria-labelledby="student-tab">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row px-3 py-1">
                                        <hr /><h2 class="hline-text font-weight-bold text-white">Student</h2><hr />
                                        <hr /><h2 class="hline-text font-weight-bold text-white">Form</h2><hr />
                                    </div>
                                    <div class="row px-3">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="studentFirstName" class="mb-1 ml-1 text-sm float-left">
                                                    First Name
                                                </label>
                                                <input id="studentFirstName" class="form-control mb-4" type="text" name="UserFirstName" placeholder="First Name *" required/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="studentLastName" class="mb-1 ml-1 text-sm float-left">
                                                    Last Name
                                                </label>
                                                <input id="studentLastName" class="form-control mb-4" type="text" name="UserLastName" placeholder="Last Name *" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-3">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="studentEmail" class="mb-1 ml-1 text-sm float-left">
                                                    Email
                                                </label>
                                                <input id="studentEmail" class="form-control mb-4" type="text" name="UserEmail" placeholder="Email *" style="color:white !important;" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-3">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="username" class="mb-1 ml-1 text-sm float-left">
                                                    Username
                                                </label>
                                                <input id="username" class="form-control mb-4" type="text" name="UserUsername" placeholder="Username *" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-3">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="password" class="mb-1 ml-1 text-sm float-left">
                                                    Password
                                                </label>
                                                <input id="password" class="form-control" type="password" name="UserPassword" placeholder="Password *" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3 px-3"><div class="col-lg-12"><button type="submit" name = "UserRegisterButton" value = "UserRegister" class="btn gradient-black text-center float-left login-btn">Register</button></div></div>
                                    <div class="row mb-4 px-3"><div class="col-lg-12"><small class="font-weight-bold float-left">New here? <a href="login.html" class="text-white">Login</a></small></div></div>
                                </form>
                            </div>
                            <!-- /.student register -->
                            <!-- faculty register -->
                            <div class="tab-pane fade" id="faculty-register" role="tabpanel" aria-labelledby="faculty-tab">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row px-3 py-1">
                                        <hr /><h2 class="hline-text font-weight-bold text-white">Faculty</h2><hr />
                                        <hr /><h2 class="hline-text font-weight-bold text-white">Form</h2><hr />
                                    </div>
                                    <div class="row px-3">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="facultyFirstName" class="mb-1 ml-1 text-sm float-left">
                                                    First Name
                                                </label>
                                                <input id="facultyFirstName" class="form-control mb-4" type="text" name="UserFirstName" placeholder="First Name *" required/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="facultyLastName" class="mb-1 ml-1 text-sm float-left">
                                                    Last Name
                                                </label>
                                                <input id="facultyLastName" class="form-control mb-4" type="text" name="UserLastName" placeholder="Last Name *" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-3">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="facultyEmail" class="mb-1 ml-1 text-sm float-left">
                                                    Email
                                                </label>
                                                <input id="facultyEmail" class="form-control mb-4" type="text" name="UserEmail" placeholder="Email *" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-3">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="facultyUsername" class="mb-1 ml-1 text-sm float-left">
                                                    Username
                                                </label>
                                                <input id="facultyUsername" class="form-control mb-4" type="text" name="UserUsername" placeholder="Username *" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-3">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="facultyPassword" class="mb-1 ml-1 text-sm float-left">
                                                    Password
                                                </label>
                                                <input id="facultyPassword" class="form-control" type="password" name="UserPassword" placeholder="Password *" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3 px-3"><div class="col-lg-12"><button type="submit" name = "SuperUserRegisterButton" value = "SuperUserRegister" class="btn gradient-black text-center float-left login-btn">Register</button></div></div>
                                    <div class="row mb-4 px-3"><div class="col-lg-12"><small class="font-weight-bold float-left">New here? <a href="login.html" class="text-white">Login</a></small></div></div>
                                </form>
                            </div>
                            <!-- /.faculty register -->
                        </div>
                    </div>
                </div>
                <!-- /.register page -->
            </div>
        </div>
    </div>
</div>


<!-- JS -->
<!-- vendor JS -->
<!-- <script src="../../college_event_website/Users/vendor/jquery/jquery-3.5.1.min.js"></script> -->
<!-- <script src="../../college_event_website/Users/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  
</body>
</html>