{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add title  -->
    <title>Universities</title>

    <!-- vendor css  -->
    <link href="{% static 'Home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Events/main.css' %}">
</head>

<body class="bg-gray1">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Events Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- main links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Events/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/RSO/">RSOs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/RSO/create">Create RSO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Events/create">Create Event</a>
                </li>
                    <a class="nav-link active" href="/Universities/">Universities<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Universities/create">Create University</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
            </ul>
        </div>
        <!-- logout link -->
        <a class="nav-link text-white" href="../../Users/logout">Logout</a>
    </nav>
    <!-- /.navbar -->


    <div class="d-flex align-items-center align-content-center align-self-center w-100">
        <div class="d-flex w-100 mb-5 ml-5 mr-5 mt-4">
            <div class="text-center mb-5 w-100">
                <!-- search bar -->
                <div class="row pt-2 pb-1 pl-2 pr-2 ml-1 mr-1 bg-black rounded">
                    <!-- search prompt-->
                    <div class="col-md-1 mt-1">
                        <div class="d-flex w-100 justify-content-end">
                            <div class="text-white font-weight-bold text-right text-md ml-3 w-100">
                                <label class="form-label" for="search-form">Search</label>
                            </div>
                        </div>
                    </div>
                    <form method="post" class="w-100">
                        {% csrf_token %}
                        <!-- search input -->
                        <div class="col-md-10">
                            <div class="d-flex w-100 justify-content-start">
                                <div class="text-white font-weight-bold text-left ml-3 w-100">
                                    <input type="search" id="search-form" class="form-control" name="UniversityName" placeholder="Search Universities by Name"/>
                                </div>
                            </div>
                        </div>
                        <!-- search button -->
                        <div class="col-md-1 mt-1">
                            <div class="d-flex w-100 justify-content-start">
                                <div class="text-white font-weight-bold text-left ml-3 w-100">
                                    <!-- submit button -->
                                    <button type="submit" class="btn gradient-orange" value = "SearchValue" name="search-button">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
                <!-- list of universities -->
                <div class="row mt-5">
                {% for university in universities  %}
                <div class="col-md-4">
                    <!-- university card -->
                    <div class="card card0 border-0 d-flex align-items-center align-content-center align-self-center w-100 mb-3">
                        <!-- university title -->
                        <div class="row w-100 bg-gray2 rounded-top">
                            <div class="col-md-12 w-100">
                                <h2 class="font-weight-bold text-md text-orng">{{ university.name }}</a></h2>
                            </div>                             
                        </div>
                        <!-- university details and links -->
                        <div class="row card card0 border-0 bg-black d-flex align-items-center align-content-center align-self-center w-100 rounded-bottom">
                            <div class="row d-flex align-items-center align-content-center align-self-center ml-4 mr-4 mt-0 mb-2 w-100">
                                <div class="w-100 m-2">
                                    <div class="row mb-2">                                
                                        <div class="col-md-12">
                                            <div class="row m-2">
                                                <div class="col-md-12 justify-content-end">
                                                    <div class="d-flex w-100 justify-content-end">
                                                        <div class="text-white font-weight-bold text-right">
                                                            {{ university.location }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ml-2 mr-2 mb-5">
                                                <div class="d-flex w-100 justify-content-left">
                                                    <div class="text-white text-left ml-3 overflow-hidden">
                                                        {{ university.description }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ml-2 mr-2 mb-2">
                                                <div class="d-flex w-100 justify-content-left">
                                                    <div class="text-white font-weight-bold text-left ml-3">
                                                        <a href="/Universities/{{ university.id }}" class="text-orng">Learn More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.university card -->
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    


<!-- JS -->
<!-- vendor JS -->
<script src="{% static 'Home/vendor/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'Home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>