{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add title  -->
    <title>Approve Events</title>

    <!-- vendor css  -->
    <link href="{% static 'Home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Events/main.css' %}">
</head>

<body class="bg-gray1">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Events Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- main links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_admin == True or user.is_super_admin == True %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarEventDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Events
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item " href="/Events/">View Events</a>
                            {% if user.is_admin == True %}
                            <a class="dropdown-item" href="/Events/create">Create Event</a>
                            {% endif %}
                            {% if user.is_super_admin == True %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item active" href="/Events/approve">Approve Events<span class="sr-only">(current)</span></a>
                            {% endif %}
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/Events/">View Events</a>
                    </li>
                    {% endif %}
    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarRSODropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            RSOs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/RSO/">View RSOs</a>
                            <a class="dropdown-item" href="/RSO/inactiveRsos">View Inactive RSOs</a> 
                            <a class="dropdown-item" href="/RSO/create">Create RSO</a>
                        </div>
                    </li>
    
                    {% if user.is_super_admin == True %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarRSODropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Universities
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Universities/">View Universities</a>
                                <a class="dropdown-item" href="/Universities/create">Create University</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/Universities/">Universities</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/Users/profile">Profile</a>
                    </li>
            </ul>
        </div>
        <!-- logout link -->
        <a class="nav-link text-white" href="../../Users/logout">Logout</a>
    </nav>
    <!-- /.navbar -->

    <form method="POST">
        {% csrf_token %}
        <div class="d-flex align-items-center align-content-center align-self-center w-100">
            <div class="d-flex w-100 mb-5 ml-5 mr-5 mt-4">
                <div class="text-center mb-5 w-100">
                    <!-- list of events to be approved -->
                    <div class="row mt-5">
                    {% for event in events  %}
                        <!-- event card -->
                        <div class="col-md-4">
                            <div class="card card0 bg-gray2 border-0 d-flex align-items-center align-content-center align-self-center w-100 mb-3">
                                <!-- event title -->
                                <div class="row w-100 bg-gray2 rounded-top">
                                    <div class="col-md-12 w-100">
                                        <h2 class="font-weight-bold text-md text-orng">
                                            {{ event.name|truncatechars:35 }}
                                        </h2>
                                    </div>                             
                                </div>
                                <!-- event details and links -->
                                <div class="row card card0 border-0 bg-black d-flex align-items-center align-content-center align-self-center w-100 rounded-bottom">
                                    <div class="row d-flex align-items-center align-content-center align-self-center ml-4 mr-4 mt-0 mb-2 w-100">
                                        <!-- event details and approval -->
                                        <div class="w-100 m-2">
                                            <div class="row mb-2">                  
                                                <div class="col-md-12">
                                                    <!-- cetegory -->  
                                                    <div class="row m-2">
                                                        <div class="col-md-6 justify-content-start">
                                                            <div class="d-flex w-100 justify-content-left">
                                                                <div class="text-white font-weight-bold text-left">
                                                                    Category: {{ event.category|truncatechars:15 }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% if event.university != null %}
                                                            <div class="col-md-6 justify-content-end">
                                                                <div class="d-flex w-100 justify-content-end">
                                                                    <div class="text-white font-weight-bold text-right">
                                                                        {{ event.university|truncatechars:25 }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <!-- date -->
                                                    <div class="row m-2">
                                                        <div class="col-md-6 justify-content-start">
                                                            <div class="d-flex w-100 justify-content-start">
                                                                <div class="text-white font-weight-bold text-left">
                                                                    {{ event.date }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="d-flex w-100 justify-content-end">
                                                                <div class="text-white font-weight-bold text-right">
                                                                    {{ event.location|truncatechars:30 }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- description -->
                                                    <div class="row ml-2 mr-2 mb-3">
                                                        <div class="d-flex w-100 justify-content-left">
                                                            <div class="text-white text-left ml-3 overflow-hidden">
                                                                {{ event.description|truncatechars:250 }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- event details link -->
                                                    <div class="row ml-2 mr-2 mb-2">
                                                        <div class="d-flex w-100 justify-content-left">
                                                            <div class="text-white font-weight-bold text-left ml-3">
                                                                <a href="/Events/{{ event.id }}" class="text-orng">Learn More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- approval form -->
                                                    <div class="row ml-2 mr-2 mb-2 mt-2">
                                                        <div class="col-md-6">
                                                            <div class="text-white font-weight-bold text-left">
                                                                <button type="submit" name = "DisapproveButton" value = {{ event.id }} class="btn gradient-black text-center float-left login-btn">Disapprove</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="text-white font-weight-bold text-right">
                                                                <button type="submit" name = "ApproveButton" value = {{ event.id }} class="btn gradient-black text-center float-right login-btn">Approve</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.event card -->
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>

    


<!-- JS -->
<!-- vendor JS -->
<script src="{% static 'Home/vendor/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'Home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>