{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add title  -->
    <title>Events</title>

    <!-- vendor css  -->
    <link href="{% static 'Home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Home/global.css' %}">
</head>

<body class="bg-gray1">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Events Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Events/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Events/create">Create Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            </ul>
        </div>
    </nav>


    <div class="d-flex align-items-center align-content-center align-self-center w-100">
        <div class="d-flex w-100 mt-4 m-5" >
            <div class="text-center mb-5 w-100">
                <div class="row">
                    
                
                {% for event in events  %}
                <div class="col-md-4">
                    <!-- event card -->
                    <div class="card card0 border-0 d-flex align-items-center align-content-center align-self-center w-100 mb-3">
                        <!-- event title -->
                        <div class="row w-100 bg-gray2 rounded-top">
                            <div class="col-md-12 w-100">
                                <h2 class="font-weight-bold text-md text-orng">{{ event.name }}</a></h2>
                            </div>                             
                        </div>
                        <!-- event details and links -->
                        <div class="row card card0 border-0 bg-black d-flex align-items-center align-content-center align-self-center w-100 rounded-bottom">
                            <div class="row d-flex align-items-center align-content-center align-self-center ml-4 mr-4 mt-0 mb-2 w-100">
                                <div class="w-100 m-2">
                                    <div class="row mb-2">                                
                                        <div class="col-md-12">
                                            <div class="row m-2">
                                                <div class="col-md-6 justify-content-start">
                                                    <div class="d-flex w-100 justify-content-start">
                                                        <div class="text-white font-weight-bold text-left">
                                                            {{ event.date }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 justify-content-end">
                                                    <div class="d-flex w-100 justify-content-end">
                                                        <div class="text-white font-weight-bold text-right">
                                                            {{ event.location }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ml-2 mr-2 mb-5">
                                                <div class="d-flex w-100 justify-content-left">
                                                    <div class="text-white text-left ml-3">
                                                        Description: {{ event.description }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ml-2 mr-2 mb-2">
                                                <div class="d-flex w-100 justify-content-left">
                                                    <div class="text-white font-weight-bold text-left ml-3">
                                                        <a href="/Events/{{ event.id }}" class="text-orng">Learn More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.event card -->
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    


<!-- JS -->
<!-- vendor JS -->
<script src="{% static 'Home/vendor/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'Home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>