{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add title  -->
    <title>Events</title>

    <!-- vendor css  -->
    <link href="{% static 'Home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Home/global.css' %}">
</head>


<!-- fist check if the current user is logined, then check if the user is super admin -->
<!-- user.is_super_admin -->
<p>this is event base.html</p>
<!-- {{ events.name }} -->
{% for event in event_list  %}
<div class="row mb-3">                                
    <div class="col-md-12">
        <div class="row m-2">
            <div class="d-flex w-100 justify-content-center">
                <div class="text-white font-weight-bold text-md text-left ">
                    {{ event.name }}
                </div>
            </div>
        </div>
        <div class="row ml-2 mr-2 mb-2">
            <div class="d-flex w-100 justify-content-center">
                <div class="text-white font-weight-bold text-md text-left ">
                    {{ event.description }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
